-var myStorys= ["Choose card","Invite new member"]
.bottom
    .container
        .bottom_row
            .bottom_title
                .bottom_title_row
                    .bottom_title_tab
                        .bottom_title_tab_row
                            .tabs Active stories
                            .tabs Completed stories
                    .bottom_title_actions
                        .bottom_title_actions_buttons
                            .add_new
                                button.add_round.master_only.page add new +                         
            .bottom_title_storys
                ul.storys
                   //- template(id="storyTmpl")
                        //-li.story