-var rooms = ['test room 1', 'test room 2', 'test room 3']

.container.page(id="rooms")
    .rooms_group
        .rooms_group_row
            .rooms_list
                .rooms_list_row
                    //-template(id="roomListTmpl")
                       //- .room
            .rooms_create
                input.room_name(type="text" placeholer="введите название комнаты")
                button.create_room создать комнату