- var myStory = 'Room for'

.title
    .containter
        .title_row
            .title_story #{myStory}
            .title_user
                img.user_logo(src="/img/no_person.png"
                alt="user")
    